<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>swift学习</string>
		<key>fileName</key>
		<string>ListViewController</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>Tips</string>
				<key>fileName</key>
				<string>SwiftTipsViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>基础内容</string>
				<key>fileName</key>
				<string>BasicContentViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>可选项</string>
				<key>fileName</key>
				<string>OptionalViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>基本运算符</string>
				<key>fileName</key>
				<string>BaseOperatorViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>字符串和字符</string>
				<key>fileName</key>
				<string>StringAndCharViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>集合类型</string>
				<key>fileName</key>
				<string>CollectionTypesViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>控制流</string>
				<key>fileName</key>
				<string>ControlFlowViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>函数</string>
				<key>fileName</key>
				<string>FunctionViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>闭包</string>
				<key>fileName</key>
				<string>ClosureViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>枚举</string>
				<key>fileName</key>
				<string>EnumViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>类和结构体</string>
				<key>fileName</key>
				<string>ClassStructViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>属性</string>
				<key>fileName</key>
				<string>PropertyViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>方法</string>
				<key>fileName</key>
				<string>MethodViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>下标</string>
				<key>fileName</key>
				<string>SubscriptViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>继承</string>
				<key>fileName</key>
				<string>InheritViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>初始化</string>
				<key>fileName</key>
				<string>InitializeViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>反初始化</string>
				<key>fileName</key>
				<string>DeinitViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>可选链</string>
				<key>fileName</key>
				<string>OptionalChainViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>错误处理</string>
				<key>fileName</key>
				<string>ErrorhandlingViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>类型转换</string>
				<key>fileName</key>
				<string>DataTypeConvertViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>内嵌类型</string>
				<key>fileName</key>
				<string>NestedTypeViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>扩展</string>
				<key>fileName</key>
				<string>ExtensionViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>协议</string>
				<key>fileName</key>
				<string>ProtocolViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>泛型</string>
				<key>fileName</key>
				<string>GenericsViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>不透明类型</string>
				<key>fileName</key>
				<string>OpaqueTypeViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>自动引用技术</string>
				<key>fileName</key>
				<string>ARCViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>内存安全性</string>
				<key>fileName</key>
				<string>MemorySafeViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>访问控制</string>
				<key>fileName</key>
				<string>AccessControlViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>高级运算符</string>
				<key>fileName</key>
				<string>AdvancedOperatorViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>高阶函数</string>
				<key>fileName</key>
				<string>HigherOrderFunctionsViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>设计模式</string>
		<key>fileName</key>
		<string>ListViewController</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>列表设计模式</string>
				<key>fileName</key>
				<string>ListViewController</string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>MVC</string>
						<key>fileName</key>
						<string>ListViewController</string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>普通MVC</string>
								<key>fileName</key>
								<string>MVCViewController</string>
							</dict>
							<dict>
								<key>title</key>
								<string>列表MVC</string>
								<key>fileName</key>
								<string>MVCListViewController</string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>MVVM</string>
						<key>fileName</key>
						<string>ListViewController</string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>普通MVVM</string>
								<key>fileName</key>
								<string>MVVMViewController</string>
							</dict>
							<dict>
								<key>title</key>
								<string>列表MVVM</string>
								<key>fileName</key>
								<string>MVVMListViewController</string>
							</dict>
							<dict>
								<key>title</key>
								<string>列表 带session的MVVM</string>
								<key>fileName</key>
								<string>MVVMListSecViewController</string>
							</dict>
							<dict>
								<key>title</key>
								<string>RxSwift+MVVM</string>
								<key>fileName</key>
								<string>RxMVVMListViewController</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>第三方框架</string>
		<key>fileName</key>
		<string>ListViewController</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>SnapKit</string>
				<key>fileName</key>
				<string>SnapViewController</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Swinject</string>
				<key>fileName</key>
				<string>Swinject</string>
			</dict>
			<dict>
				<key>title</key>
				<string>RxSwift</string>
				<key>fileName</key>
				<string>ListViewController</string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>RxSwift</string>
						<key>fileName</key>
						<string>RxSwiftViewController</string>
					</dict>
					<dict>
						<key>title</key>
						<string>SPSwift</string>
						<key>fileName</key>
						<string>SPSwiftViewController</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string> 线程</string>
		<key>fileName</key>
		<string>GCDViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Foundation</string>
		<key>fileName</key>
		<string>ListViewController</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>富文本</string>
				<key>fileName</key>
				<string>NSAttributedStringViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>UIKit</string>
		<key>fileName</key>
		<string>ListViewController</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>UIMenuController</string>
				<key>fileName</key>
				<string>MeunViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
