<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Pano</string>
		<key>fileName</key>
		<string>PanoViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>zx</string>
		<key>fileName</key>
		<string>ListViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JSON</string>
		<key>fileName</key>
		<string>JSONViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>FlowCategory</string>
		<key>fileName</key>
		<string>ContainViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>二级列表</string>
		<key>fileName</key>
		<string>GroupVC</string>
	</dict>
</array>
</plist>
